@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

//colors
$color-highlight: #00ddff;
$color-text: #333;
$color-text-hover: #666;
$color-text-active: #DEB887;
$color-border: #d0d0d0;

$font-primary: 'Lora', serif;
$font-secondary: Arial, Helvetica, sans-serif;

//variables
//set breakpoint sizes
$break-small: 650px;
$break-large: 651px;


//mixins

@mixin breakpoint($break) {
    @if $break ==large {
        @media (min-width: $break-large) {
            @content;
        }
    }

    @else if $break ==small {
        @media (max-width: $break-small) {
            @content;
        }
    }
}

body {
    @include breakpoint(small) {
        margin: 0 auto;
        font-family: $font-secondary;
        max-width: 450px;
        color: $color-text;
    }

    @include breakpoint(large) {
        margin: 0 auto;
        font-family: $font-secondary;
        max-width: 900px;
        color: $color-text;
    }
}

h1 {
    @include breakpoint(small) {
        font-family: $font-primary;
        font-size: 70px;
        display: block;
        white-space: normal;
        padding: 10px 10px;
        text-align: center;
        word-wrap: break-word;
        text-decoration: none;
    }

    @include breakpoint(large) {
        font-family: $font-primary;
        font-size: 80px;
        display: block;
        text-align: center;
    }
}

h1 a:link,
h1 a:visited {
    @include breakpoint(small) {
        display: block;
        text-align: center;
        color: $color-text;
        text-decoration: none;
    }

    @include breakpoint(large) {
        text-decoration: none;
        color: $color-text;
    }
}

nav {
    @include breakpoint(small) {
        font-family: $font-primary;
        margin: -30px 10px;
        padding: 0 5px;
        border-top: 1px solid $color-border;
        border-bottom: 1px solid $color-border;
        display: flex;
        flex-direction: column;
    }
}

li {
    @include breakpoint(small) {
        display: block;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin: -15px 0;
        text-decoration: none;
        list-style-type: none;
    }

    @include breakpoint(large) {
        display: inline-block;
        padding: 15px 15px;
        text-transform: uppercase;
    }

    a {
        @include breakpoint(small) {
            padding: 10px 0 20px;
        }

        @include breakpoint(large) {
            font-weight: bold;
            text-decoration: none;
        }

        &:link,
        &:visited {
            @include breakpoint(small) {
                display: block;
                text-align: center;
                text-decoration: none;
                color: $color-text-hover;
            }

            @include breakpoint(large) {
                color: $color-text-hover;
            }
        }

        &:active {
            @include breakpoint(small) {
                color: $color-text-active;
            }

            @include breakpoint(large) {
                color: $color-text-hover;
            }
        }
    }

    &:hover {
        @include breakpoint(small) {
            background-color: $color-highlight;
            text-decoration: none;
        }

        @include breakpoint(large) {
            background-color: $color-highlight;
            text-decoration: none;
        }
    }

    main {
        @include breakpoint(small) {
            display: block;
        }

        @include breakpoint(large) {
            padding-top: 20px;
            margin-right: 25px;
        }
    }

    article {
        @include breakpoint(small) {
            padding-left: 10px;
            padding-right: 10px;
        }

        @include breakpoint(large) {
            display: grid;
            grid-template-columns: 1fr 3fr;
        }
    }

    .post-date {
        @include breakpoint(small) {
            font-family: $font-primary;
            font-size: 28px;
            color: $color-text;
            font-weight: bold;
            text-transform: uppercase;
            text-align: right;
            margin-top: 70px;
            padding-bottom: 10px;
            padding-right: 10px;
            border-bottom: 1px solid $color-border;
        }

        @include breakpoint(large) {
            font-family: $font-primary;
            font-size: 24px;
            grid-column: 1/2;
            display: block;
            margin-left: 25px;
            margin-top: 10px;
            padding-top: 20px;
            padding-left: 50px;
            padding-right: 10px;
            text-align: right;
            font-weight: bold;
            text-transform: uppercase;
            width: 150px;
        }
    }

    .post-date:nth-of-type(2) {
        @include breakpoint(large) {
            white-space: nowrap;
        }
    }

    .post-content {
        @include breakpoint(small) {
            font-size: 20px;
            margin-top: 10px;
            margin-left: 40px;
        }

        @include breakpoint(large) {
            padding-left: 10px;
            border-left: 1px solid $color-border;
            border-bottom: 1px dotted $color-border;
        }

    }

    figure {
        @include breakpoint(large) {
            display: flex;
            justify-content: center;
            padding-right: 100px;
        }
    }

    figure img {
        @include breakpoint(small) {
            width: calc(100% - 70px);
            padding-left: 20px;
            justify-items: center;
            margin-top: 5px;
        }
    }

    h2 a {

        &:link,
        &:visited {
            @include breakpoint(small) {
                color: $color-text-hover;
                text-decoration: none;
                font-family: $font-primary;
            }

            @include breakpoint(large) {
                font-size: 28px;
                color: $color-text-hover;
                text-decoration: none;
                font-family: $font-primary;
            }
        }

        &:hover {
            color: $color-border;
            text-decoration: none;
        }

        &:active {
            color: $color-text-active;
        }
    }

    p {
        @include breakpoint(small) {
            font-family: $font-primary;
            color: $color-text;
            font-size: 20px;
            font-weight: bold;
            padding-bottom: 15px;
        }

        @include breakpoint(large) {
            font-family: $font-primary;
            font-size: 20px;
            color: $color-text;
            font-weight: bold;
            padding-right: 10px;
        }

        &:link,
        &:visited {
            color: $color-text-hover;
            text-decoration: none;
        }

        &:active {
            color: $color-text-active;
        }

        &:hover {
            color: $color-highlight;
        }
    }


}