// Selected Colors for CSS Zen Garden
$color-1 : #88A47C; 
$color-2 : #E6E2C3; 
$color-3 : #227C70; 
$color-4 : #1C315E; 
$text-dark: #333;
$text-light:#fff;


// Selected Fonts for CSS Zen Garden
$fonts-headline: "OCR A Std", monospace ;
$fonts-body:  "Bookman", serif;